<div class="container mt-3">

<!-- Console variables with photos -->
  <div class="title">
    <h1><%= @console.name %></h1>
  </div>
  <div class="pictures">
    <%= cl_image_tag @console.photos[0].key, class:"picture-1" %>
    <%= cl_image_tag @console.photos[1].key, class:"picture-2" %>
    <%= cl_image_tag @console.photos[2].key, class:"picture-3" %>
  </div>
  <div class="main">
    <div class="content">
      <h3><%= @console.model %></h3>
      <p><%= @console.content %></p>
    </div>
    <div class="booking">

    </div>
  </div>

<!-- Buttons -->
  <%= link_to 'Back to the list', consoles_path, class: 'btn btn-outline-secondary' %>
<!-- Link to book the console ? -->
</div>
