<div class="container mt-3">

<!-- Console variables with photos -->
  <div class="title">
    <h1><%= @console.name %></h1>
  </div>
  <div class="pictures">
    <%= cl_image_tag @console.photos[0].key, class:"picture-1" %>
    <%= cl_image_tag @console.photos[1].key, class:"picture-2" %>
    <%= cl_image_tag @console.photos[2].key, class:"picture-3" %>
  </div>

  <div class="main-show">
    <div class="content">
      <h3><%= @console.model %></h3>
      <p><%= @console.content %></p>
      <%= link_to consoles_path do%>
        <button class="glow-on-hover" type="button">Back to all consols</button>
      <%end%>
    </div>
    <div class="booking">
      <div class="widget-content" data-unavailable="<%= @console.unavailable_dates.to_json %>">
        <%= simple_form_for([@console, @booking]) do |f| %>
          <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
          <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
          <%= f.submit "Book the #{@console.name}" %>
        <% end %>
      </div>
    </div>
  </div>

<!-- Buttons -->

<!-- Link to book the console ? -->
</div>
