<h1>Bookings#index</h1>

<% @bookings.each do |booking| %>
  <%= booking.status %> |
  <%= booking.starting_date %> |
  <%= booking.ending_date %>
  <%= link_to "Edit", edit_booking_path(booking) %>
  <%= link_to "Delete", booking_path(booking), method: :delete %>

<% end %>
