<div class="container-booking m-3">
  <h1><%= current_user.first_name.capitalize %>'s Booking(s)</h1>
  <h4>You have <%= @bookings.count %> booking(s)</h4>

  <div class="bookings">
    <% @bookings.each do |booking| %>

          <div class="notification">
            <div class="notification-content">
            <% case booking.status
                when "denied"
                  class_name_for_status = "text-danger"
                when "accepted"
                  class_name_for_status = "text-success"
                else
                  class_name_for_status = "text-secondary"
                end  %>
              <%= cl_image_tag booking.console.photos.first.key, class:"avatar-square" %>
              <div class="naming">
              <h3>🎮 <%= booking.console.name %></h3>
              <p>Owner: <small><%= booking.console.user.first_name %></small></p>
              <p>💵 <%= (booking.end_date - booking.start_date) * booking.console.price_per_day %>€ for <%=(booking.end_date - booking.start_date).to_i%> day(s)</p>
              <p>🗓<em>from <%= booking.start_date.strftime("%d %B") %> to <%= booking.end_date.strftime("%d %B") %></em></p>
              <p>Status : <span class="<%= class_name_for_status %>"><%= booking.status %></span> </p>
              </div>
            </div>


            <div class="notification-actions">
              <%= link_to edit_booking_path(booking) do%>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
              <%= link_to booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
    <% end %>
  </div>
</div>
