<h1>New booking</h1>
<div class="container">
  <div class="widget-content" data-unavailable="<%= @console.unavailable_dates.to_json %>">
    <%= simple_form_for([@console, @booking]) do |f| %>
          <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
          <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>
          <%= f.submit "Create a booking" %>
    <% end %>
  </div>
</div>
