<!-- Each console's variable -->
<div class="cards">
  <% consoles.each do |console| %>
    <%= link_to console_path(console) do %>
      <div class="card">
        <%= cl_image_tag console.photos.first.key, height: 300, width: 300, crop: :fill %>
        <h4><%= console.name %></h4>
        <h5><%= console.model %></h5>
        <p><%= console.content %></p>
        <div class="information">
          <%# REPLACE rating by console.reviews.count %>
          <div class="rating"><i class="fas fa-gamepad"> <%= 4 %></i> reviews</div>
          <div class="price"><h6><%= console.price_per_day %>€ / day</h6></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
