<h1>Hello <%= current_user.first_name %>!</h1>
<h3>Welcome in your dashboard</h3>
<div class="consoles">
  <%= link_to new_console_path do%>
    <button class="glow-on-hover" type="button">Submit new console</button>
  <%end%>
  <% @consoles.each do |console| %>
    <%= link_to console_path(console) do %>
      <div class="notification">
        <div class="notification-content">
          <%= cl_image_tag console.photos.first.key, class:"avatar-square" %>
          <div class="naming">
          <p><%= console.name %></p>
          <p><small><%= console.model %></small></p>
          <p><em><%= console.price_per_day %>€</em></p>
          </div>
        </div>

        <div class="notification-actions">
          <%= link_to edit_console_path(console) do%>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to console_path(console), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      </div>

      <div class="list-grou">
        <% console.bookings.each do |booking| %>
          <div class="list-group-item list-group-item-action">
            <div class="booking-info">
              <%= "#{booking.status.upcase} from #{booking.user.first_name} (#{booking.starting_date} | #{booking.ending_date}) " %>
            </div>
            <div class="booking-actions">
              <%= link_to "Accept", approve_booking_path(booking), method: :post,class: "btn btn-outline-success" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
